#Folders
cache
libraries
logs
world
world_nether
world_the_end
plugins/bStats
plugins/spark
versions
crash-reports

#Files
.console_history
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
version_history.json

# #PluginFiles/Folders

#Fast Login
plugins/FastLogin/FastLogin.db

#AuthMe
plugins/AuthMe/messages
plugins/AuthMe/playerdata
plugins/AuthMe/authme.*
plugins/AuthMe/*.html
plugins/AuthMe/spawn.yml
plugins/AuthMe/commands.yml

#SkinsRestorer
plugins/SkinsRestorer/Players
plugins/SkinsRestorer/legacy/skins
plugins/SkinsRestorer/skins

#TempBan-API
plugins/TempBan-Api/bans.yml

#SuperHardCoreSMP
plugins/SuperHardCore*.jar